body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    overflow: hidden;

}

.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.background video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.left {
    position: relative;
    z-index: auto;
    margin-top: 8%;
    margin-left: 5%;
    
         

}

.left img {
    width: 30%;
    height: 50%;

}

.left p{
    color:white;
    text-align: left;
    width: 45%;
    height: 30%;
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
    
  
   
}

.left button{
    border-radius: 30px;
    height: 64px;
    width: 239px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    cursor: pointer;
    background-color: red;
    color: white;
}



.right img {
    position:absolute;
    z-index: auto;
    width: 30%;
    height: 70%;
    margin-right: 10%;
    top:20%;
    right: 5%;
 
        
}

@media screen and (max-width: 900px){

    .background {
        width: 100%;
        height: 50%;
      
       
    }
}